<div class="main-container d-flex justify-content-center align-items-center">
    <div class="main-card">
        <div class="main-title d-flex justify-content-center align-items-center">
            <h2>Educação</h2>
        </div>
        <div class="experiences-list">
            <div class="experience">
                <h3>Instituto Federal do Rio Grande do Sul</h3>
                <span class="subtitle mb-3">Sistemas para Internet</span>
            </div>
            <hr>
            <div class="experience">
                <h3>Angular JS - Loiane Training</h3>
                <span class="subtitle mb-3">Framework AngularJS e TypeScript</span>
            </div>
            <hr>
            <div class="experience">
                <h3>React JS - Alura</h3>
                <span class="subtitle mb-3">React</span>
            </div>
            <hr>
            <div class="experience">
                <h3>Node JS - Alura</h3>
                <span class="subtitle mb-3">Node.js, MongoDB, APIs e Express</span>
            </div>
            <hr>
            <div class="experience">
                <h3>PHP 7 Completo - Curso do Desenvolvedor Web</h3>
                <span class="subtitle mb-3">PHP, POO e MySQL</span>
            </div>
            <hr>
            <div class="experience">
                <h3>Curso completo de Desenvolvimento Web</h3>
                <span class="subtitle mb-3">HTML, CSS, Bootstrap, JavaScript e JQuery</span>
            </div>
            <hr>
            <div class="experience">
                <h3>Programa Gestão, Atendimento e Serviços. ESPRO</h3>
                <span class="subtitle mb-3">Ensino profissionalizante</span>
            </div>
            <hr>
            <div class="experience">
                <h3>Colégio Santa Inês</h3>
                <span class="subtitle mb-3">Ensino médio</span>
            </div>
        </div>
    </div>
</div>