<div class="main-container d-flex justify-content-center align-items-center">
    <div class="main-card">
        <div class="main-title d-flex justify-content-center align-items-center">
            <h2>Experiências</h2>
        </div>
        <div class="experiences-list">
            <div class="experience">
                <h3>Desenvolvedor Fullstack</h3>
                <div class="subtitle mb-3">Psychometrika</div>
                <p>Desenvolvedor web fullstack focado em tecnologias Javascript (Angular, Node e React)</p>
                <div class="flex-shrink-0"><span>Março 2023 - atualmente</span></div>
            </div>
            <hr>
            <div class="experience">
                <h3>Product Owner</h3>
                <div class="subtitle mb-3">Arezzo&Co - ARZZ</div>
                <p>Gerenciamento e priorização dos itens em backlog de produto do e-commerce internacional para alcançar
                    os objetivos estratégicos. Identificar, escrever e comunicar as histórias de usuário e
                    especificações técnicas do produto. Planejar e conduzir o processo de releases do produto com a
                    participação das agências parceiras e equipes de operações internas da empresa.</p>
                <div class="flex-shrink-0"><span>Setembro 2022 - Março 2023</span></div>
            </div>
            <hr>
            <div class="experience">
                <h3>Product Owner</h3>
                <div class="subtitle mb-3">Vnda Tecnologia em E-commerce</div>
                <p>Gerenciamento e priorização dos itens em backlog de produto para alcançar os objetivos estratégicos.
                    Identificar, escrever e comunicar as histórias de usuário e especificações técnicas do produto.
                    Planejar e conduzir o processo de releases do produto com a participação das equipes de engenharia e
                    operações.</p>
                <div class="flex-shrink-0"><span>Junho 2021 - Setembro 2022</span></div>
            </div>
            <hr>
            <div class="experience">
                <h3>Gerente de Helpdesk</h3>
                <div class="subtitle mb-3">Moovin Plataforma E-commerce</div>
                <p>Gerenciamento das operações diárias da central de atendimento, definição de processos, supervisão das
                    demandas e projetos mais importantes, linha de comunicação com a gerência e outras equipes da
                    empresa.</p>
                <div class="flex-shrink-0"><span>Junho 2020 - Junho 2021</span></div>
            </div>
            <hr>
            <div class="experience">
                <h3>Helpdesk</h3>
                <div class="subtitle mb-3">Moovin Plataforma E-commerce</div>
                <p>Apoio aos clientes e usuários da plataforma, através de multicanais, a partir de ferramentas,
                    estratégias e serviços, com finalidade de dar suporte, resolver problemas e trazer melhorias para a
                    plataforma.</p>
                <div class="flex-shrink-0"><span>Junho 2019 - Junho 2020</span></div>
            </div>
            <hr>
            <div class="experience">
                <h3>Estágio Helpdesk</h3>
                <div class="subtitle mb-3">Moovin Plataforma E-commerce</div>
                <p>Apoio aos clientes e usuários da plataforma, através de multicanais, a partir de ferramentas,
                    estratégias e serviços, com finalidade de dar suporte, resolver problemas e trazer melhorias para a
                    plataforma.</p>
                <div class="flex-shrink-0"><span>Janeiro 2019 - Junho 2019</span></div>
            </div>
        </div>
    </div>
</div>